absl-py==1.3.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
appdirs==1.4.4
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==24.2.0
autocommand==2.2.2
autograd==1.3
backports.tarfile==1.2.0
blinker==1.9.0
brotli==1.0.9
cached-property==1.5.2
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.3
cloudpickle==3.1.0
comm==0.2.2
cryptography==42.0.2
cvxopt==0.0.0
cycler==0.12.1
cytoolz==1.0.0
dask==2024.8.0
debugpy==1.8.8
decorator==5.1.1
docker-pycreds==0.4.0
exceptiongroup==1.2.2
executing==2.1.0
filelock==3.16.1
flatbuffers==24.3.25
fonttools==4.54.1
frozenlist==1.5.0
fsspec==2024.10.0
future==1.0.0
gast==0.4.0
gitdb==4.0.11
gitpython==3.1.43
gmpy2==2.1.5
google-auth-oauthlib==1.0.0
google-auth==2.36.0
google-pasta==0.2.0
grpcio==1.54.3
gurobipy==10.0.0
h2==4.1.0
h5py==3.9.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.10
imagecodecs==2023.8.12
imageio==2.36.0
importlib-metadata==8.5.0
importlib-resources==6.4.0
inflect==7.3.1
ipykernel==6.29.5
ipython==8.18.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jax==0.4.14
jaxlib==0.4.12
jedi==0.19.2
jinja2==3.1.4
joblib==1.4.2
jupyter-client==8.6.3
jupyter-core==5.7.2
keras-preprocessing==1.1.2
keras==2.12.0
kiwisolver==1.4.7
locket==1.0.0
markdown==3.6
markupsafe==3.0.2
matplotlib-inline==0.1.7
matplotlib==3.5.3
ml-dtypes==0.5.0
more-itertools==10.3.0
mpmath==1.3.0
multidict==6.1.0
munkres==1.1.4
nest-asyncio==1.6.0
networkx==3.2.1
neural-structural-optimization==0.0.0
nlopt==2.7.1
numpy==1.22.3
oauthlib==3.2.2
opt-einsum==3.4.0
osqp==0.6.2.post5
packaging==24.1
pandas==1.4.4
parso==0.8.4
partd==1.4.2
pathtools==0.1.2
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.0.0
pip==24.3.1
platformdirs==4.3.6
ply==3.11
pooch==1.8.2
prompt-toolkit==3.0.48
propcache==0.2.0
protobuf==4.21.12
psutil==6.1.0
ptyprocess==0.7.0
pure-eval==0.2.3
pyasn1-modules==0.4.1
pyasn1==0.6.1
pycparser==2.22
pygments==2.18.0
pygranso==1.2.0
pyjwt==2.9.0
pyopenssl==24.2.1
pyparsing==3.2.0
pyqt5-sip==12.12.2
pyqt5==5.15.9
pysocks==1.7.1
python-dateutil==2.9.0
pytz==2024.2
pyu2f==0.1.5
pywavelets==1.6.0
pyyaml==6.0.2
pyzmq==26.2.0
qdldl==0.1.7.post4
requests-oauthlib==2.0.0
requests==2.32.3
rsa==4.9
scikit-image==0.19.2
scikit-learn==1.3.0
scipy==1.11.2
sentry-sdk==2.18.0
setproctitle==1.3.3
setuptools==75.3.0
sip==6.7.12
six==1.16.0
smmap==5.0.0
stack-data==0.6.2
sympy==1.13.3
tensorboard-data-server==0.7.0
tensorboard==2.12.3
tensorflow-estimator==2.12.0
tensorflow==2.12.1
termcolor==2.5.0
threadpoolctl==3.5.0
tifffile==2024.6.18
toml==0.10.2
tomli==2.0.2
toolz==1.0.0
torch==2.2.1
torchaudio==2.2.1
torchvision==0.17.1
tornado==6.4.1
traitlets==5.14.3
triton==2.2.0
typeguard==4.3.0
typing-extensions==4.5.0
unicodedata2==15.1.0
urllib3==2.2.3
wandb==0.16.2
wcwidth==0.2.13
werkzeug==3.1.3
wheel==0.45.0
wrapt==1.16.0
xarray==2022.12.0
yarl==1.16.0
zipp==3.21.0
zstandard==0.23.0